* {
    margin: 0px;
    padding: 0px;
}
body {
    margin-left: 100px;
    margin-right:100px;

    margin-top: 20px;
    min-height:100vh;
    font-family:sans-serif;
    margin-bottom: 50px;
}
th, td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;

}
tr:nth-child(even) {background-color: #f2f2f2;}